h1{
    text-align: center;
    font-size: 40px;
}

.head2{
    text-align: center;
}

p{
    text-align: center;
    font-size: 16px;
}
.menu1{
    background-color: #c4c8ff;    
    padding: 13px;
}

.sec1{
    background-color: #053668;
    color: aliceblue;
    padding: 10px;
}

.table1{
    background-color: #10006b;
    width: 100%;
    font-size: 18px;
}

th{
    padding: 20px;
    border: 1px solid #120447;
}

a{
    text-decoration: none;
    color: aliceblue;
}

.table2{
    background-color: #115f95;
    width: 100%;
    font-size: 18px;
}

.table2 th{
    border: 1px solid #0b3c5f;
}

h3{
    font-weight: bold;
    font-size: 22px;
}

h2{
    text-align: center;
    font-size: 30px;
    background-color: #c4c8ff;   
    padding: 14px;
}

.h0{
    background-color: #177ac0;
    padding: 30px;
    font-size: 20px;
    text-align: center;
}

.div9{
    background-color: #177ac0;
    font-size: 20px;
    padding: 10px;
}

.h6{
    text-align: left;
    background-color: #177ac0;
}

.div1, .div2, .div3{
    display: inline-block;
    width: 441px;
    height: 300px;
}

.h8{
    background-color: #177ac0;
    padding: 14px;
}

input{
    height: 22px;
}

button{
    width: 120px;
    height: 40px;
}

.table1 th:hover{
    background-color: #16018f;
}

.table2 th:hover{
    background-color: #0f5180;
}